h1,h2,h3,h4:,h5,h6{
	  color:#d0cec9;
	  font-family:"Matura MT Script Capitals",arial;  
	  letter-spacing:1px;
	}

	h1        { font-size: 2em; }
	h2        { font-size: 1.5em;}
	h3        { font-size: 1.17em;}
	h5        { font-size:  .83em;}
	h6        { font-size:   .75em;}


	h1,h2,h3,h4
	h5,h6      { font-weight: bolder }

	.clearfix.before,

	.clearfix:after{
		content: "";
		display: table;
	}


	.clearfix:after{
		clear: both;
	}


	.clearfix{
		  *zoom: 1;
	}

	


	.container{
		width: 1090px;
		margin: 0 auto;
	}



/* body */
	body{
		   color:#7F8FA6;
		   background: url(../img/d20.png) repeat top center;
		  text-align: center;
		  font-family:"Matura MT Script Capitals",arial; 
		  font-size: 50px;
		 
	}
	 #page{
		 border : solid 1px red;
	 	font-size: 20px;
	 	width: 960px;
		 margin: 0px auto 0px auto ;
		  padding:0px 15px 20px;
		  background-color:#ffffff;
		 /*background:url(../img/d20.png) repeat top center;*/
		  
		  text-align: center;

	 }

	header{
		  width:  100%;
		  height:  160px;
		  background-color: #34aadc;
		  position: relative;
			
	}


	header .logo{
		
		margin-top: 2px;
		float: left;
	}


        header nav{
               float: right;
               margin-top: 2px;
               padding-bottom: 100px;
                
               
                }


	header nav ul li{
		  list-style: none;
		  float: left;
		  margin-right: 126px;
                  
			
	}





header nav ul li a{
	text-decoration: none;
	color: #ffa500;
	font-family:"Matura MT Script Capitals",arial; 
	font-size: 16px;
	letter-spacing: 1px;
  	
	
	transition:all .2s linear;
	-o-transition:all .2s linear;
	-moz-transition:all .2s linear;
	-webkit-transition:all .2s linear;
	
}
header nav ul li a:before{
	  font-family:"social";
	  font-style:normal;
	  font-weight:normal;
	  speak:none;
	  display: inline-block
	  text-decoration:inherit;
	  color:#ff4242;
	  width: 1em;
	  margin-right: .2em;
	  text-align:center;
	  font-variant:normal;
	  text-transform:none;
	  line-height: .1em;
	  webkit-font-smoothing:antialiased;
}


header nav ul li a:hover, 
header nav ul .selected
{
	color: #ff4242;
}

/*Dropdown button*/
.dropbtn{
	color: #ffa500;
	padding: .5px;
	font-family:"Matura MT Script Capitals",arial; 
	font-size: 17px;
	border: none;
	cursor: pointer;
}

.dropdown{
	position:relative;
	display: inline-block;
}

/*Le contenu(caché par defaut)*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 4px 5px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover*/ 
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}







/* slide1 */

.slider_wrapper{
	border : solid 1px red;
	width: 100%;
	height: 400px;
	position: relative;
	overflow: hidden;
}

/* slider2 */

#slides .slide{

	
	position: relative;
	width: 100%;
	float: left;
}

#slides .slide img{
	
	width: 960px;
	height: 500px;
}

#slides .slide .caption{
	width: 100%;
	position: absolute;
	color: #5a5a5a;
	text-align: center;
	font-family: "raleway-bold", arial;
	font-size: 50px;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 60px;
	top: 50%;
	
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY)(-50%);
	transform: translateY(-50%); 		
}

.sliders_wrapper{
	width: 100%;
	height: auto;
	position: relative;
	overflow: hidden;
	
	
}
#slides{
	width: 100%;
	height: 80px;
	color:#A9EAFE;
	

   
}

#slides1{
	
    padding-top:0px;
	width: 100%;
	height: 80px;
	color:#A9EAFE;
	display: flex;
    justify-content: space-around;

}
#slides1 li{
	list-style:none;
}


#slides1 img{
	border : solid 1px red;
	width: 100%;
	height: 100px;
	
    
}





.slider_wrapper.rslides_tabs{
	width: 100%;
	position:  absolute;
	text-align: center;
	bottom :80px;
	z-index: 9999;
	
}

.slider_wrapper .rslides_tabs li{ 
      list-style: none;
	  display: inline;
}

.slider_wrapper .rslides_tabs li a{
	  display: inline-block;
	  width:12px;
	  height: 12px;
	  height: 12px;
	  margin-left: 15px;
	  background: rgba(255, 255, 255, .5);
	  text-indent: -999px;
	  overflow: hidden;
	  
	  -webkit-border-radius: 100px;
	  -moz-border-radius: 100px;
	  -o-border-radius: 100px;
	  border-radius: 100px;
}

.slider_wrapper .rslides_tabs  .rslides_here a{
	background:  rgba(255, 255, 255, 1);
}









/* Footer */
footer
{
	border : solid 1px red;
	padding: 10px;
	background: #34aadc;
}

footer .intro{
	width: 233px;
	height: auto;
	margin-right: 50px;
	float: left;
	
}

footer .intro p{
	color: #f5f5f5;
	font-family:"Matura MT Script Capitals",arial; 
	font-size: 30px;
	letter-spacing: .5px;
	margin-bottom: 5px;
}
footer .footer_links{
	width: 717px;
	float: right;
}

footer .footer_links .columns{
	width: 212px;
	float: left;
	margin-right: 40px;
}



footer .footer_links .columns_title{
	color: #f5f5f5;
	font-family: "Matura MT Script Capitals", arial;
	font-size:20px;
	font-weight: bold;
	margin-bottom: 50px;
}

footer .footer_links ul li{
	list-style: none;
	display: block;
	margin-bottom: 30px;
}

footer .footer_links ul li a{
	text-decoration:  none;
	color: #f5f5f5;
	font-family: "Matura MT Script Capitals", arial;
	font-size: 20px;
	letter-spacing: .5px;
	
	transition:all .2s linear;
	-o-transition:all .2s linear;
	-moz-transition:all .2s linear;
	-webkit-transition:all .2s linear;
}

footer .footer_links ul li a:hover{
	color: #3c3c3c;
}

footer .recapit_produit ul li a:before{
	content:"";
	display: inline-block;
	width: 15px;
	margin-right: 20px;
}



footer .adress p{
	color: #f5f5f5;
	font-family: "Matura MT Script Capitals", arial;
	font-size: 18px;
	margin-bottom: 30px;
	letter-spacing:.5px;
}

footer .adress .email{
	display: block;
	font-family:"Matura MT Script Capitals", arial;
	font-weight: bold;
}
footer .intro p:last-child{
	color: #ffa500;
   font-family: "Matura MT Script Capitals", arial;
	font-size: 18px;
	letter-spacing: .5px;
	margin-bottom: 0px;
	margin-top: 100px;
	float: right;
}